<li class="menu-item level-1 text-left no-megamenu{% if link.links != blank %} dropdown{% endif %}{% if sale_item_lv1 contains title %} sale-item{% endif %}">
  {%- if link.links != blank -%}
    <a
      class="menu-item-level-1 action menu-link{% if link.url == blank %} disabled-link{% else %} has-submenu{% endif %}"
      href="javascript:void(0);"
    >
      <span class="menu-item-title{% if link.child_active %} active{% endif %}">{{ link.title | escape }}</span>
      <span class="submenu-toggle-icon">{% render 'icon-caret-right' %}</span>
      {%- if new_label_1 contains title -%}
        <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
      {%- elsif sale_label_1 contains title -%}
        <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
      {%- elsif hot_label_1 contains title -%}
        <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
      {%- endif -%}
    </a>
    <ul class="submenu level-1-submenu">
      <div class="submenu-header">
        <span class="icon-arrow-nav">{% render 'icon-arrow-nav' %}</span>{{ link.title | escape }}
      </div>
      <li class="menu-item level-2 text-left navigation_all_mobile hidden-item">
        <a class="menu-link submenu-link level-2-link" href="{{ link.url }}">
          {{- 'general.navigation.go_to' | t }}
          {{ link.title | escape -}}
        </a>
      </li>
      {%- for childlink in link.links -%}
        <li class="menu-item level-2 text-left{% if childlink.links != blank %} dropdown{% endif %}">
          <a
            class="menu-link submenu-link level-2-link{% if childlink.current %} active{% endif %}"
            href="{{ childlink.url }}"
          >
            <span class="menu-item-title">{{ childlink.title | escape }}</span>
            {%- if new_label_2 contains childlink.title -%}
              <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
            {%- elsif sale_label_2 contains childlink.title -%}
              <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
            {%- elsif hot_label_2 contains childlink.title -%}
              <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
            {%- endif -%}
          </a>
          {%- if childlink.links != blank -%}
            <ul class="submenu level-2-submenu">
              {%- for grandchildlink in childlink.links -%}
                <li class="menu-item level-3">
                  <a class="menu-link submenu-link level-3-link" href="{{ grandchildlink.url }}">
                    <span class="menu-item-title">{{ grandchildlink.title | escape }}</span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    <a class="menu-item-level-1 action menu-link{% if link.current %} active{% endif %}" href="{{ link.url }}">
      <span class="menu-item-title">{{ link.title | escape }}</span>
    </a>
  {%- endif -%}
</li>

{% style %}
  /* 1. Base menu item styles */
  .menu-item {
    position: relative;
    padding: 10px;
    list-style: none;
  }

  .menu-item .menu-item-title {
    display: inline-block;
  }

  /* 2. Dropdown submenu styles */
  .dropdown .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  /* 3. Active and hover states */
  .menu-item.active .menu-item-title {
    font-weight: bold;
  }

  .menu-item:hover > .submenu,
  .menu-item.open > .submenu {
    display: block;
  }

  /* 4. Label styles */
  .label {
    background-color: #ff0000;
    color: #fff;
    padding: 3px 6px;
    font-size: 0.8rem;
    border-radius: 4px;
  }

  /* 5. New label */
  .new-label {
    background-color: #00ff00;
  }

  /* 6. Sale label */
  .sale-label {
    background-color: #ffcc00;
  }

  /* 7. Hover state for links */
  .menu-link:hover {
    text-decoration: underline;
  }

  /* 8. Level-specific styles */
  .level-1 .submenu {
    top: 0;
  }

  .level-2 .submenu {
    left: 100%;
  }

  .level-3 .submenu {
    left: 100%;
  }
{% endstyle %}